@import "~xel/themes/macos.css";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: sans-serif;
  color: #525252;
  flex-direction: column;
  align-items: start;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  width: 100%;
  text-align: center;
}

.page-header {
  height: 40px;
  width: 100%;
  background-color: #28323f;
  position: relative;
  -ms-overflow-style: scrollbar;
  -webkit-app-region: drag;

  color: #ddd;
  text-align: center;
  line-height: 40px;
}
